<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>添加音乐</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>

    <div id="app">

        <el-container>
            <el-aside width="200px" style="background-color:#545c64">
                <div class="blue">
                    <i class="el-icon-apple"></i>
                    <i class="el-icon-pear"></i>
                    <i class="el-icon-service"></i>
                    <i class="el-icon-pear"></i>
                    <i class="el-icon-apple"></i>
                    <p>喜欢的歌与歌手</p>
                    <el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose"
                        background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
                        <el-submenu index="1">
                            <template slot="title">
                                <i class="el-icon-location"></i>
                                <span>音乐</span>
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="1-1" @click="add()">添加音乐</el-menu-item>
                                <el-menu-item index="1-2" @click="list()">音乐列表</el-menu-item>
                        </el-submenu>
                        <el-submenu index="2">
                            <template slot="title">
                                <i class="el-icon-discover"></i>
                                <span>音乐人</span>
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="2-1" @click="addP()">添加音乐人</el-menu-item>
                                <el-menu-item index="2-2" @click="listP()">音乐人列表</el-menu-item>
                        </el-submenu>
                        <el-menu-item index="4" @click="set()">
                            <i class="el-icon-setting"></i>
                            <span slot="title">设置</span>
                            </el-menu-item>
                    </el-menu>
                </div>
            </el-aside>
            <el-container>
                <el-header style="background-color:#545c64">为你的喜欢保驾护航
                    <el-avatar src="../image/头像.jpg" style="position: absolute; right: 0;"></el-avatar>
                </el-header>
                <el-main>
                    <el-row>
                        <el-col :offset="6" :span="12">
                            <el-form :model="musicForm" :rules="rules" ref="musicForm" label-width="100px" class="demo-ruleForm">
                                <el-form-item label="音乐人名字" prop="name">
                                    <el-input v-model="composerForm.composerName"></el-input>
                                </el-form-item>
                                <el-form-item label="年龄" prop="composer">
                                    <el-input v-model="composerForm.age"></el-input>
                                </el-form-item>
                                <el-form-item label="描述" prop="desc">
                                    <el-input v-model="composerForm.desc"></el-input>
                                </el-form-item>
            
                                <el-form-item>
                                    <el-button type="primary" @click.prevent="addMusic()">立即创建</el-button>
            
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>

                </el-main>
                <el-footer style="width: 50%; margin: 0 auto;">
                </el-footer>
            </el-container>
        </el-container>

    </div>


    <div id="app">



    </div>
    <script src="../js/axios.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        axios.defaults.withCredentials = true;
        new Vue({
            el: '#app',
            data: {
                composerForm: {
                    composerName: '',
                    age: null,
                    desc:'',
                },
                rules: {
                }
            },
            methods: {
                addMusic() {
                    let fd = new FormData();
                    fd.append('composerName', this.composerForm.composerName);
                    fd.append('age', this.composerForm.age);
                    fd.append('desc', this.composerForm.desc);
                    axios.post('http://localhost:9000/composer/add', fd).then(res => {
                        if (res.data.isOk) {
                            this.$message(res.data.msg);
                            location.href = 'musicPList.html';
                        }
                        else{
                            this.$message(res.data.msg);
                        }
                    })
                },
                add() {
                    location.href = 'musicAdd.html'
                },
                list() {
                    location.href = 'musiclist.html'
                },
                addP() {
                    location.href = 'musicPAdd.html'
                },
                listP() {
                    location.href = 'musicPlist.html'
                },
                set() {
                    location.href = 'set.html'
                },
            }
        })
    </script>
</body>

</html>